body {
    background: whitesmoke;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #8e9299;
    width: 100%;
    overflow: hidden;
    height: 44px;
}


li {
    float: left;
    position: relative;
    left: 77%;

}

a {
    font-display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 22px !important;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

div.theMoreYou {
    display: block;
    box-sizing: inherit;
    background: #1f2328;
    width: 100%;
    overflow: hidden;
    height: 327px;
    text-align: center;
    color: white;
    font-size: 20px;
    
}

h1 {
    margin-top: 124px;
}

.midBox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #e6edec;
    width: 100%;
    overflow: hidden;
    height: 1000px;
}

.top-left-box {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: inline-flex;
    flex-wrap: wrap;
    background: #66e0ff;
    width: 135px;
    height: 135px;
    margin: 65px;
    padding: 65px;
    margin-left: 140px;
    border-radius: 15%;
}

.top-mid-box {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: inline-flex;
    flex-wrap: wrap;
    background: #66e0ff;
    width: 135px;
    height: 135px;
    margin: 65px;
    padding: 65px;
    border-radius: 15%;
}

.top-right-box {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: inline-flex;
    flex-wrap: wrap;
    background: #66e0ff;
    width: 135px;
    height: 135px;
    margin: 65px;
    padding: 65px;
    border-radius: 15%;
}

.bottom-left {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: inline-flex;
    flex-wrap: wrap;
    background: #ff944d;
    width: 325px;
    height: 135px;
    margin-top: 40%;
    margin: 65px;
    padding: 75px;
    margin-left: 140px;
    padding-bottom: 20px
}

.bottom-right {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: inline-flex;
    flex-wrap: wrap;
    background: #ff944d;
    width: 325px;
    height: 135px;
    margin-top: 40%;
    margin: 55px;
    padding: 75px;
    padding-bottom: 20px
}

.bottom-text {
    display: inline-block;
    flex-wrap: wrap;
    background: #e6edec;
    width: 400px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    margin-left: 160px;
    text-align: left;
}

.bottom-img {   
    display: inline-flex;
    flex-wrap: wrap;
    background: #e6edec;
    width: 300px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    background: url(https://i.pinimg.com/originals/3f/f0/92/3ff092049ddeedf76754393172b6aa69.jpg);
    margin-left: 280px;
}   